<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini">
      <div class="ninja-head"></div>
    </span>
    <span class="logo-lg">
    <div class="ninja-head"></div>
      Colegio<b>.Ninja</b>
    </span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#"><i class="fa fa-sign-out"></i> Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</header>